@font-face {
    font-family: 'regular';
    src: url(./fonts/Exo2-Regular.woff2);
}
@font-face {
    font-family: 'medium';
    src: url(./fonts/Exo2-Medium.woff2);
}
@font-face {
    font-family: 'semibold';
    src: url(./fonts/Exo2-SemiBold.woff2);
}
@font-face {
    font-family: 'bold';
    src: url(./fonts/Exo2-Bold.woff2);
}

/*---====ROBOTO FONT=====-----*/

@font-face {
    font-family: 'roboto_regular';
    src: url(./fonts/Roboto-Regular.woff2);
}
@font-face {
    font-family: 'roboto_medium';
    src: url(./fonts/Roboto-Medium.woff2);
}
@font-face {
    font-family: 'roboto_light';
    src: url(./fonts/Roboto-Light.woff2);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    color: var(--black);
}

html,body {
    width: 100%;
    height: 100%;
}

:root {
    --blue: #3254BA;
    --darkblue: #26237A;
    --iconbg: #1E1E65;
    --black: #303030;
    --white: #F8FCFE;
    --orange: #E06D02;
    --lightgreen: #E6FFF2;
    --green: #0A8044;
    --green2: #39C874;
    --green3: #34BA61;
    --darkgreen: #032011;
    --lightblue: #BFE4F7;
    --lightblue2: #ECFAFF;
    --transparentblack: #303030a4;
    --transparentblack2: #00000083;
    --gradientbtn: linear-gradient(to right, #39C874, #0E844A);
    --gradientbtn2: linear-gradient(to right, #FF9C40, #FF7300);
}

a {
    text-decoration: none!important;
}

.light_blue2 {
    background-color: var(--lightblue2);
}

.regular {
    font-family: 'regular';
}

.medium {
    font-family: 'medium';
}

.semibold {
    font-family: 'semibold';
}

.bold {
    font-family: 'bold';
}

main {
    max-width: 2440px!important;
    width: 100%;
    margin: 0 auto!important;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

/*----======== NAVBAR START =========----*/

.logo {
    width: 100%;
}

.nav_links {
    width: 70%;
}

.links {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 1rem!important;
}

.active_link {
    color: var(--blue)!important;
}

.dropdown-menu {
    box-shadow: -2px 0 14px 0 rgba(50, 84, 186, 0.07), -2px 0 8px 0 rgba(0,0,0,0.07);
}

.navbar-toggler:focus {
    outline: none!important;
    box-shadow: none!important;
}

.toggler_bars_icon {
    display: inline-block;
    width: 24px; 
    height: 24px; 
    position: relative; 
    cursor: pointer;
}

.bar1 {
    position: absolute; 
    top: 25%; 
    left: 0; 
    right: 0; 
    height: 2px; 
    background: #303030; 
    transition: transform 0.3s, top 0.3s;
}

.bar2 {
    position: absolute; 
    top: 65%; 
    left: 0; 
    right: 0; 
    height: 2px; 
    background: #303030; 
    transition: transform 0.3s, top 0.3s;
}

/*----======== NAVBAR END =========----*/


/*----======== BANNER START =========----*/

.banner_bg {
    width: 100%;
    height: 90vh;
    background: linear-gradient(to right, var(--white), var(--lightblue));
    margin-top: 4rem;
}

/* .banner {
    width: 100%;
    height: 90vh;
    background-image: url('./images/banner_img.jpeg');
    background-size: 100% 100%;
    background-position: center;
    background-position-y: 2rem;
    background-repeat: no-repeat;
    margin-top: 4rem;
} */

.mankind_logo img {
    width: 20%!important;
}

.left_banner_img {
    width: 100%;
    object-fit: cover;
}

.right_banner_img {
    width: 100%;
}

.right_banner_content img {
    width: 90%;
}


.about_banner_bg {
    width: 100%;
    height: 75vh;
    background: url('./images/about_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* z-index: 1; */
}

.about_banner_bg::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--transparentblack2);
    top: 0;
    left: 0;
    z-index: -1;
}

.about_banner_content {
    width: 100%;
}

.about_banner_content h2 {
    font-size: 3.8rem;
    color: var(--white);
    font-family: 'semibold';
    transition: all ease 0.5s;
}

.about_banner_content p {
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 400;
}

.about_banner_overlap_content {
    width: 85%!important;
    background-color: var(--orange);
    border-radius: 2rem;
    padding: 4.5rem 2rem;
    margin: -9rem 0 0 0;
}

.about_banner_overlap_content p {
    font-family: 'roboto_light';
    font-size: 2.6rem;
    color: var(--white);
    line-height: 3.3rem;
}



.contact_banner_bg {
    width: 100%;
    height: 70vh;
    background: url('./images/contact_banner_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.contact_banner_bg::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--transparentblack2);
    top: 0;
    left: 0;
    z-index: -1;
}

.contact_banner_content {
    width: 75%;
    margin: 0 auto;
}

.contact_banner_content h2 {
    font-size: 4rem;
    color: var(--white);
    font-family: 'bold';
    transition: all ease 0.5s;
}

.contact_banner_content h5 {
    font-size: 1.7rem;
    color: var(--white);
    margin-top: 2rem;
}

.contact_banner_content p {
    color: var(--white);
    font-weight: 400;
    font-size: 1.2rem;
}



/*----======== BANNER END =========----*/

.about_wrapper {
    width: 85%!important;
    margin: 0 auto;
    /* border-radius: 2.5rem; */
    overflow: hidden;
}

/*----========SECTION SECOND START =========----*/

.video_section {
    width: 100%;
}

.video_section video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about_right_content {
    padding: 3rem;
}

.about_right_content h5 {
    letter-spacing: 0.5rem;

    font-family: 'roboto_regular';
}

.about_right_content h2 {
    color: var(--darkblue);
    font-family: 'semibold';
    font-size: 3rem;
}

.about_right_content h2 span {
    color: var(--green3);
    font-family: 'bold';
}

.about_right_content p {
    font-family: 'roboto_light';
    color: var(--black);
    /* color: #202024; */
    font-size: 1.5rem;
}


.about_second_section {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(50%, 1fr));
    background-color: var(--lightblue2);
}

@media (max-width: 991.98px) {
    .about_second_section {
        grid-template-columns: 1fr;
    }
}


/*----========SECTION SECOND END =========----*/


/*----========ABOUT SECTION THIRD START =========----*/

.about_numbers {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.2fr;
    grid-template-areas: 
      'first second third';
    margin-top: 5rem;
    gap: 1.5rem;
    padding-left: 2rem;
    padding-right: 0;
}

.number {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-left: 1px solid var(--transparentblack);
    padding-left: 3rem;
}

.number h2 {
    font-size: 6rem;
    font-family: 'semibold';
    color: var(--green3);
    margin-bottom: 0;
}

.text_and_icon {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.text_and_icon h3 {
    margin-bottom: 0;
    font-size: 1.7rem;
}

.number_icon {
    width: 15%;
    min-width: 35px;
    max-width: 60px;
}

.number_icon:nth-child(1){
    width: 20%;
}

@media (max-width: 1200px) {
    .about_numbers {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            'first second third';
        gap: 1rem;
        padding-left: 1rem;
        margin-top: 2.2rem;
    }
    .number {
        padding-left: 2rem;
    }
    .number h2 {
        font-size: 3.3rem;
    }
}

@media (max-width: 991.98px) {
    .about_numbers {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            'first second'
            'third third';
        gap: 1rem;
        padding-left: 0.5rem;
        margin-top: 2rem;
    }
    .number {
        padding-left: 1.5rem;
    }
    .number h2 {
        font-size: 3.2rem;
    }
    .text_and_icon h3 {
        font-size: 1.5rem;
    }
    .number_icon {
        width: 13%;
    }
}

@media (max-width: 767.98px) {
    .about_numbers {
        grid-template-columns: 1fr;
        grid-template-areas:
            'first'
            'second'
            'third';
        gap: 1.2rem;
        padding-left: 0;
        margin-top: 1.2rem;
    }
    .number {
        padding-left: 2rem;
        border-left: none;
        border-top: 1px solid var(--transparentblack);
        padding-top: 1rem;
    }
    .number:first-child {
        border-top: none;
        padding-top: 0;
    }
    .number h2 {
        font-size: 3.5rem;
    }
    .text_and_icon h3 {
        font-size: 1.5rem;
    }
    .number_icon {
        width: 15%;
        min-width: 28px;
    }
}

@media (max-width: 575.98px) {
    .about_numbers {
        margin-top: 1rem;
        gap: 0.75rem;
        padding-left: 0;
    }
    .number h2 {
        font-size: 1.15rem;
    }
    .text_and_icon h3 {
        font-size: 0.9rem;
    }
    .number_icon {
        width: 18%;
        min-width: 22px;
    }
}


/*----========ABOUT SECTION THIRD END =========----*/


/*----========SECTION SOCIAL START =========----*/

.social_heading_box {
    width: 40%;
}

.social_heading_box h5 {
    letter-spacing: 0.5rem;
    font-weight: 100;
    font-size: 1.1rem;
}

.social_heading_box h2 {
    font-family: 'semibold';
    font-size: 3.5rem;
}

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    box-shadow: 0 4px 24px 0 rgba(0,0,0,0.08);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .slider_video {
    width: 100%;
    height: 600px;
    border-radius: 2rem;
    overflow: hidden;
    cursor: pointer;
    transition: all ease 0.5s;
  }
  
  .slider_video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after, .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    display: none;
  }

  .left_icon,
  .right_icon {
    width: 80px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 0 1.4rem;
    background-color: var(--iconbg);
    transition: all ease 0.5s;
    position: relative;
    z-index: 2;
    overflow: hidden;
  }

  .left_icon::after,
  .right_icon::after {
    content: '';
    position: absolute;
    width: 200%;
    height: 300%;
    background-color: var(--blue);
    border-radius: 50%;
    bottom: -300%;
    left: -50%;
    transition: all ease 0.5s;
    z-index: -1;
  }

  .left_icon:hover::after,
  .right_icon:hover::after {
    bottom: -180%;
  }

  .left_icon img {
    transform: rotate(180deg);
  }

  .left_icon:active,
  .right_icon:active {
    scale: 0.9;
  }

  .swiper_padding {
    padding-bottom: 5rem!important;
  }
  
  .slider_navigation {
    width: 5rem;
    height: 100px;
    position: absolute;
    left: 50%;
    bottom: 4%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-button-next, .swiper-button-prev {
    top: 95%!important;
  }

  .swiper-button-prev {
    left: 0%!important;
    /* transform: translateX(-47%); */
  }

  .swiper-button-next {
    right: 0%!important;
    /* transform: translateX(-47%); */
  }

/*----========SECTION SOCIAL END =========----*/


/*----========SECTION CALCULATE START =========----*/

.box {
    width: 100%;
    height: 550px;
    border-radius: 1.5rem;
    overflow: hidden;
    transition: all ease 0.5s;
}

.box_overlay {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
    bottom: -100%;
    left: 0;
    background-color: var(--transparentblack);
    border-radius: 1.5rem;
    padding: 0 3.5rem 3rem 3.5rem;
    transition: all ease 0.5s;
}

.box_overlay h3,
.box_overlay p {
    color: var(--white);
}

.box_overlay h3 {
    font-family: 'medium';
    font-size: 1.5rem;
}

.box_overlay p {
    font-size: 0.9rem;
}

.calculate_btn {
    color: var(--iconbg);
    background-color: var(--white);
    border: 0;
    padding: 0.5rem 2rem;
    border-radius: 50px;
    transition: all ease 0.5s;
}

.calculate_btn:hover {
    background-color: var(--green2);
    color: var(--white);
}

.box:hover .box_overlay {
    bottom: 0;
}

.grid_container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    gap: 1rem;
}

.know_more_btn {
    text-decoration: none;
    color: var(--white);
    background-color: var(--iconbg);
    padding: 1rem 1.7rem;
    border: 1px solid var(--iconbg);
    position: relative;
    transition: all ease 0.5s;
    overflow: hidden;
    z-index: 2;
}

.know_more_btn:hover {
    color: var(--iconbg);
}

.know_more_btn::after {
    content: '';
    position: absolute;
    width: 200%;
    height: 300%;
    background-color: var(--white);
    border-radius: 50%;
    left: -50%;
    bottom: -300%;
    transition: all ease 0.5s;
    z-index: -1;
}

.know_more_btn:hover::after {
    bottom: -180%;
}

/*----========SECTION CALCULATE END =========----*/


/*----========SECTION HEALTHOK MULTIVITAMINS START =========----*/

.healthok_banner {
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: flex-end;
    background-image: url('./images/healthok_banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    padding: 0 5rem;
}

.health_box {
    width: 35%;
    margin-top: 2rem;
    transition: all ease 0.5s;
}

.health_box h3 {
    color: var(--green);
    font-size: 2.8rem;
    transition: all ease 0.5s;
    font-family: 'semibold';
}

.health_box p {
    color: var(--darkgreen);
    font-family: 'regular';
    font-size: 1.5rem;
    line-height: 1.7rem;
}

.buy_now {
    color: var(--white);
    background: var(--gradientbtn);
    font-family: 'semibold';
    font-size: 1.3rem;
    padding: 0.5rem 1.2rem;
    border-radius: 1.2rem;
}

/*----========SECTION HEALTHOK MULTIVITAMINS END =========----*/


/*----========SECTION HEALTHOK GUMMIES START =========----*/

.healthok_gummies {
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: flex-start;
    background-image: url('./images/healthok_gummies.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    padding: 0 5rem;
}

.gummies_box {
    width: 35%;
    margin-top: 2rem;
    transition: all ease 0.5s;
}

.gummies_box h3 {
    color: var(--lightgreen);
    font-size: 2.8rem;
    transition: all ease 0.5s;
    font-family: 'semibold';
}

.gummies_box p {
    color: var(--white);
    font-family: 'regular';
    font-size: 1.5rem;
    line-height: 1.7rem;
}

.buy_now2 {
    color: var(--white);
    background: var(--gradientbtn2);
    font-family: 'semibold';
    font-size: 1.3rem;
    padding: 0.5rem 1.2rem;
    border-radius: 1.2rem;
}

/*----========SECTION HEALTHOK GUMMIES END =========----*/

/*----========SECTION BRANDS START =========----*/

.logos_main_div {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 5rem;
}

.logo_reel_animation {
    width: 100%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: reel linear 15s infinite;
}

@keyframes reel {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}

.slide {
    /* width: 15%; */
    flex: 0 0 15%;
}

.slide:nth-child(2){
    /* width: 7%; */
    flex: 0 0 7%;
}

.logos_main_div:hover .logo_reel_animation {
    animation-play-state: paused;
}

/*----========SECTION BRANDS END =========----*/


/*----========FOOTER START =========----*/

.footer_bg {
    background-color: var(--iconbg);
}

.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer_box1 {
    width: 55%;
}

.footer_logo {
    width: 25%;
}

.footer_box1_content h3 {
    font-size: 3rem;
    color: var(--white);
    font-family: 'medium';
}

.footer_box2 {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer_box2_content h3 {
    font-size: 1.2rem;
    font-family: 'regular';
    color: var(--white);
}

.footer_box2_content ul li {
    margin-top: 1rem;
}

.footer_box2_content ul li a {
    color: var(--white);
    font-size: 0.9rem;
    font-weight: 100;
}

.footer_icons {
    display: flex;
    gap: 0.53rem;
    margin-top: 1.7rem;
}

.footer_icons a {
    display: inline-block;
}

.icon {
    font-size: 1.2rem;
    color: var(--white);
    padding-left: 0.5rem;
}

.copyright {
    color: var(--white);
}

.privacy_policy {
    color: var(--white);
}

/*----========FOOTER END =========----*/


/*----======== RESPONSIVE CODES =========----*/

@media (min-width: 300px) and (max-width: 767px){
    .banner_bg {
        height: 100%;
    }

    .mankind_logo img {
        width: 35%;
    }

    .social_heading_box {
        width: 100%;
    }

    .social_heading_box h2 {
        font-size: 2.5rem;
    }

    .social_heading_box p {
        font-size: 0.95rem;
    }

    .box {
        height: 500px;
    }

    .health_box,
    .gummies_box {
        width: 70%;
    }

    .health_box h3,
    .gummies_box h3 {
        font-size: 2rem;
    }

    .health_box p,
    .gummies_box p {
        font-size: 0.9rem;
    }
}

@media (min-width: 453px) and (max-width: 767px){
    .social_heading_box {
        width: 80%;
    }

    .social_heading_box h2 {
        font-size: 2.5rem;
    }

    .social_heading_box p {
        font-size: 0.95rem;
    }

    .box {
        height: 500px;
    }
}

@media (min-width: 768px) and (max-width: 992px){
    .social_heading_box {
        width: 60%;
    }

    .social_heading_box h2 {
        font-size: 2.5rem;
    }

    .social_heading_box p {
        font-size: 0.85rem;
    }

    .box {
        height: 500px;
    }

    .health_box,
    .gummies_box {
        width: 60%;
    }
}

@media (min-width: 993px) and (max-width: 1220px){
    .social_heading_box {
        width: 50%;
    }

    .social_heading_box h2 {
        font-size: 3rem;
    }

    .social_heading_box p {
        font-size: 0.85rem;
    }

    .box {
        height: 500px;
    }

    .health_box,
    .gummies_box {
        width: 60%;
    }
}

@media (min-width: 1220px) and (max-width: 1420px){

    .health_box h3,
    .gummies_box h3 {
        font-size: 2rem;
    }

    .health_box p,
    .gummies_box p {
        font-size: 0.9rem;
    }
}
/* @media (min-width: 993px) and (max-width: 1220px){
    .social_heading_box {
        width: 50%;
    }

    .social_heading_box h2 {
        font-size: 3rem;
    }

    .social_heading_box p {
        font-size: 0.85rem;
    }
} */


@media (min-width: 786px) {
    .banner_bg {
        height: 100%;
    }
}