@font-face {
    font-family: 'regular';
    src: url(./fonts/Exo2-Regular.woff2);
}
@font-face {
    font-family: 'medium';
    src: url(./fonts/Exo2-Medium.woff2);
}
@font-face {
    font-family: 'semibold';
    src: url(./fonts/Exo2-SemiBold.woff2);
}
@font-face {
    font-family: 'bold';
    src: url(./fonts/Exo2-Bold.woff2);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    color: var(--black);
}

html,body {
    width: 100%;
    height: 100%;
}

:root {
    --blue: #3254BA;
    --black: #303030;
    --white: #F8FCFE;
    --lightblue: #BFE4F7;
}

.regular {
    font-family: 'regular';
}

.medium {
    font-family: 'medium';
}

.semibold {
    font-family: 'semibold';
}

.bold {
    font-family: 'bold';
}

main {
    max-width: 2440px!important;
    width: 100%;
    margin: 0 auto!important;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

/*----======== NAVBAR START =========----*/

.logo {
    width: 100%;
}

.nav_links {
    width: 70%;
}

.links {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 1rem!important;
}

.active_link {
    color: var(--blue)!important;
}

.dropdown-menu {
    box-shadow: -2px 0 14px 0 rgba(50, 84, 186, 0.07), -2px 0 8px 0 rgba(0,0,0,0.07);
}

.navbar-toggler:focus {
    outline: none!important;
    box-shadow: none!important;
}

.toggler_bars_icon {
    display: inline-block;
    width: 24px; 
    height: 24px; 
    position: relative; 
    cursor: pointer;
}

.bar1 {
    position: absolute; 
    top: 25%; 
    left: 0; 
    right: 0; 
    height: 2px; 
    background: #303030; 
    transition: transform 0.3s, top 0.3s;
}

.bar2 {
    position: absolute; 
    top: 65%; 
    left: 0; 
    right: 0; 
    height: 2px; 
    background: #303030; 
    transition: transform 0.3s, top 0.3s;
}

/*----======== NAVBAR END =========----*/


/*----======== BANNER START =========----*/

.banner_bg {
    width: 100%;
    height: 90vh;
    background: linear-gradient(to right, var(--white), var(--lightblue));
    margin-top: 4rem;
}

/* .banner {
    width: 100%;
    height: 90vh;
    background-image: url('./images/banner_img.jpeg');
    background-size: 100% 100%;
    background-position: center;
    background-position-y: 2rem;
    background-repeat: no-repeat;
    margin-top: 4rem;
} */

.mankind_logo img {
    width: 20%!important;
}

.left_banner_img {
    width: 100%;
    object-fit: cover;
}

.right_banner_img {
    width: 100%;
}

.right_banner_content img {
    width: 90%;
}

/*----======== BANNER END =========----*/


/*----========SECTION SECOND START =========----*/

.video_section {
    width: 100%;
}

.video_section video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*----========SECTION SECOND END =========----*/


/*----========SECTION SOCIAL START =========----*/

.social_heading_box {
    width: 38%;
}

.social_heading_box h5 {
    letter-spacing: 0.3rem;
    font-weight: 100;
    font-size: 1.1rem;
}

.social_heading_box h2 {
    font-family: 'semibold';
    font-size: 3rem;
}

/*----========SECTION SOCIAL END =========----*/


/*----======== RESPONSIVE CODES =========----*/

@media (min-width: 300px) and (max-width: 767px){
    .banner_bg {
        height: 100%;
    }

    .mankind_logo img {
        width: 35%;
    }
}


@media (min-width: 786px) {
    .banner_bg {
        height: 100%;
    }
}